.conteudoModalCriarTorneio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 175px;
    background-color: rgba(211, 211, 211, 0.8);
    z-index: 1000;
}

.conteudoModalPreenchimentoCriarTorneio {
  width: 100%;
}

#botaoCadastrarCriarTorneio {
  display: flex;
  width: 120px;
  height: 35px;
  background-color: #22142B;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer	;
}

#formCadastroCriarTorneio {
  border: 1px #333 solid;
  margin: 10px;
  padding: 10px;
}

.conteudoCriarTorneio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hidden {
  display: none;
}

.fundoModalCriarTorneio {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modalModalCriarTorneio {
  background-color: white;
  width: 800px;
  height: 400px;
}

.modalHeaderModalCriarTorneio {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.fecharModalCriarTorneio {
  text-align: right;
  justify-content: right;
  cursor: pointer;
}

.botaoCriarTorneio {
  display: flex;
  width: 150px;
  height: 40px;
  background-color: white;
  margin-left: 17px;
  color:#22142B;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
}

#labelCadastrarTorneio {
  margin-right: 10px; 
}

#inputCadastrarTorneio {
  width: 200px;
  margin-right: 10px;
}

#inputQtdCadastrarTorneio {
  width: 50px;
  margin-right: 10px;
}

#inputCheckCadastrarTorneio {
  margin-right: 10px;
}