.container{
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #22142B;
    color: #ffffff;
}

.sidebar{
    background-color: #ffffff;
    min-height: 100vh;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img{
    max-width: 100%;
}

footer{
    color:black;
    font-size: 10pt;
    position: sticky;
    top: 50%;
    text-align: center;
}