.ContainerEntrar {
    display: flex;
    flex-direction: row;
    background-color: #22142B;
    color: #ffffff;
    height: 100vh;
}

.ContainerImageEntrar {
    flex: 50%;
    background-color: black;
}

.ImagemFundoEntrar {
    width: 100%;
    height: 100%;
    opacity: 0.5
}

.ContainerConteudoEntrar {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logoEntrar {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 10px;
}

.ContainerConteudoEntrar div.ModalEntrar {
    display: flex;
    width: 400px;
    height: 400px;
    border: 2px #ffffff solid;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.FormularioEntrar {
    padding-right: 100px;
    padding-left: 100px;
}

.ConteudoFormularioEntrar {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}

.ConteudoFormularioEntrar input {
    margin-top: 10px;
    height: 20px;
}

.ConteudoFormularioEntrar label {
    margin-top: 10px;
}

.ConteudoLinkEntrar {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: underline #FFFFFF; 
}

.ConteudoLinkEntrar p {
    margin: 0;
    padding-top: 10px;
}

.MensagemErrorEntrar p {
    color: red;
}

.FooterEntrar {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.Footer p {
    padding: 0;
    margin: 0;
}


.botaoEntrar {
    margin-top: 20px;
    display: flex;
    height: 30px;
    background-color: white;
    margin-left: 140px;
    color:#22142B;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
  }
  