.conteudoModalTimeTorneio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 175px;
    background-color: rgba(211, 211, 211, 0.8);
    z-index: 2000;
}

.hidden {
  display: none;
}

.fundoModalTimeTorneio {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modalModalTimeTorneio {
  background-color: white;
  width: 400px;
  height: 200px;
}

.modalHeaderModalTimeTorneio {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}


.fecharModalTimeTorneio {
  text-align: right;
  justify-content: right;
  cursor: pointer;
}


.modalConteudoModalTimeTorneio {
  display: flex;
  width: calc(100% - 20px);
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.addTimeModalTimeTorneio {
  display: flex;
  height: 30px;
  color: #FFFFFF;
  background-color: #22142B;
  margin-top: 10px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-items: center;
}
