.conteudoJogos{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.conteudoModalJogos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 350px;
}

.conteudoTextoMotivacionalJogos {
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.conteudoImagemJogos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.imagemTesteJogo {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-color:#FFFFFF;
    width: calc((100% / 4) - 2rem); /* calco para descontar a margem da largura do box se aumenta a marge tem que ajustar aqui tb */
    height: 60vh;
}