.containerHome {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.modalHome{
    display: flex;
    width: 100%;
    margin-left: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudoTextoHome {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
}

.conteudoBotaoHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteudoBotaoHome a {
    text-decoration: none;
}

.conteudoBotaoHome div {
    background-color: #FFFFFF;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #22142B;
    border-radius: 5px;
}

.botaoCriarTorneioHome {
    margin: 10px;
}

.botaoGerarCodigoHome {
    margin: 10px;
}