.menu {
    display: flex;
    position: fixed;
    width: 350px;
    background-color: #ffffff;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalhoMenu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logoMenu {
    width: 50px;
    height: 50px;
    background-color: #333;
    margin-top: 100px;
    border-radius: 50px;
}

.conteudoMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoMenu a {
    margin: 5px;
}

.conteudoMenu div {
    display: flex;
    width: 240px;
    height: 40px;
    background-color: #22142B;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.rodapeMenu{
    text-align: center;
    color: black;
}
