.conteudoTorneios {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.conteudoModalTorneios {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 350px;
}

.conteudoTextoMotivacionalTorneios {
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.listaDeTorneios {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
}

#botaoCriarTorneio {
    margin-left: 12px;
    margin-top: 15px;
}

/* 

.imagemTesteTorneio {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-color:#FFFFFF;
    width: calc((100% / 4) - 2rem); /* calco para descontar a margem da largura do box se aumenta a marge tem que ajustar aqui tb */
    /*height: 60vh;
} */